<md-tab-group>
    <md-tab label="Decision Tree">
        <div class="row" id="decisionTree" *ngIf="modelData?.decisionTree!=null">
            <app-decision-tree [treeData]="modelData?.decisionTree"></app-decision-tree>
        </div>
    </md-tab>
    <md-tab label="Tab 2">
        <div class="row">
            <div class="col-md-4">fourth</div>
            <div class="col-md-4">fifth</div>
            <div class="col-md-4">sixth</div>
        </div>
    </md-tab>
    <md-tab label="Tab 3">
        <div class="row">
            <div class="col-md-4">fourth</div>
            <div class="col-md-4">fifth</div>
            <div class="col-md-4">sixth</div>
        </div>
    </md-tab>
</md-tab-group>